<%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :patch }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, required: true, maxlength: 50 %>
  </div>

  <div class="field">
    <%= f.label :interest %><br />
    <%= f.text_area :interest, rows: 3, maxlength: 300 %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, maxlength: 100 %>
  </div>

  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate, start_year: 1950, end_year: Date.today.year, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :number, "Contact Number" %><br />
    <%= f.telephone_field :number, maxlength: 10, pattern: "\\d{10}", title: "Enter a 10-digit phone number" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="mt-2">
      Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary mt-2" %>
  </div>
<% end %>
