<div id="<%= dom_id managed_event %>">
  <p>
    <strong>Title:</strong>
    <%= managed_event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= managed_event.description %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= managed_event.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= managed_event.ends_at %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= managed_event.host_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= managed_event.category_id %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= managed_event.venue_id %>
  </p>

</div>
