<div id="<%= dom_id payment %>">
  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.status %>
  </p>

  <p>
    <strong>Paid at:</strong>
    <%= payment.paid_at %>
  </p>

  <p>
    <strong>Registration:</strong>
    <%= payment.registration_id %>
  </p>

</div>
